<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>My JSP 'resume-choose.jsp' starting page</title>

		 <link rel="stylesheet"
			href="css/table.css" type="text/css">
		<link rel="stylesheet"
			href="css/cwcalendar.css" type="text/css">
		<script src="javascript/jquery-1.7.2.js"></script>
		<script>
			$(function () {
						$.ajax({
							url: 'queryBymfk',
							success: function (config_major_kinds) {
								let select = $("#majorKindId");
								for (let i = 0; i < config_major_kinds.length; i++) {
									if (i == 0) {
										select.append("<option selected='selected' value='" + config_major_kinds[i].mfk_id + "'>" + config_major_kinds[i].major_kind_name + "</option>")
									} else {
										select.append("<option value='" + config_major_kinds[i].mfk_id + "'>" + config_major_kinds[i].major_kind_name + "</option>")
									}
								}
							}
						});
						$("#majorKindId").change(function () {
							let mkf_id = $("#majorKindId").val();
							$.ajax({
								url: 'queryBymajorkindid?mfk_id=' + mkf_id,
								success: function (config_majors) {
									let select = $("#majorId");
									select.text("");
									for (let i = 0; i < config_majors.length; i++) {
										if (i == 0) {
											select.append("<option selected='selected' value='" + config_majors[i].mak_id + "'>" + config_majors[i].major_name + "</option>")
										} else {
											select.append("<option value='" + config_majors[i].mak_id + "'>" + config_majors[i].major_name + "</option>")
										}
									}
								}
							});
						})
					})
					</script>


		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
		<script type="text/javascript"
			src="javascript/comm/list.js">
		</script>
		<script type="text/javascript"
			src="javascript/calendar-ch.js">
		</script>
		<script type="text/javascript"
			src="javascript/jquery-1.7.2.js">
		</script>
		<script type="text/javascript"
			src="javascript/locate.js">
		</script>
		<script type="text/javascript"
			src="javascript/select.js">
		</script>
	   <script type="text/javascript"
			src="javascript/comm/time.js">
			</script>
		<script type="text/javascript">
	function search() {

				if(document.getElementById("majorKindId").value=="0"){
				document.getElementById("majorKindId").value=null;
				}
		document.resumeChooseForm.submit();
	}
</script>
	</head>

	<body>
		<form id="recruitAction!findEngageResume?a=list" name="resumeChooseForm" action="queryByif" method="post">
			<input type="hidden" name="engageResume.humanMajorKindName"
				id="majorKindName" />
			<input type="hidden" name="engageResume.humanMajorName"
				id="majorName"  />
			<input type="hidden" name="engageResume.checkStatus"
				  value="false" /> 
			
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--招聘管理--简历管理--简历筛选 </font>
					</td>
				</tr>
				<tr>
					<td align="right">

						<input type="button" value="开始" class="BUTTON_STYLE1" id="start"
							onclick= search(); >
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">

				<tr>
					<td class="TD_STYLE1" width="30%">
						请选择职位分类
					</td>
					<td class="TD_STYLE2" width="30%">
					<select name="human_major_kind_id" multiple="multiple" style="width: 290;height: 100"
							 id="majorKindId"  class="SELECT_STYLE2" >
						<option value="0">--请选择--</option>
					
<!--					<option value="01">销售</option>-->
<!--					-->
<!--					<option value="02">软件开发</option>-->
<!--					-->
<!--					<option value="03">人力资源</option>-->
<!--					-->
<!--					<option value="04">生产部</option>-->
					
					 </select>
						<select name="human_major_id"  multiple="multiple"  style="width: 290;height: 100"
							 id="majorId" size="5"
							class="SELECT_STYLE2" >
							<option>
								--请选择--
							</option>
						</select>
 
					</td>
				</tr>

				<tr>
					<td class="TD_STYLE1" width="30%">
						请输入关键字
					</td>
					<td width="84%">
						<input type="text" name="keyword" value="" id="keyword"
							class="INPUT_STYLE2" />
					</td>
				</tr>

				<tr>
					<td class="TD_STYLE1" width="30%">
						请输入登记时间
					</td>
					<td width="84%" class="TD_STYLE2">
					<input type="hidden" name="utilBean.datePropertyName" value="registTime"/>
						 
						<input type="text" name="min"   onclick="aa('utilBean.startDate')"
							style="width: 14%" class="INPUT_STYLE2">
						至
						<input type="text" name="max"
							style="width: 14%" class="INPUT_STYLE2" onclick="aa('utilBean.endDate')">
						（YYYY-MM-DD）
					</td>
				</tr>
			</table>
		</form>




	</body>
	
</html>
