<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet"
			href="css/table.css" type="text/css">
		<link rel="stylesheet"
			href="css/cwcalendar.css" type="text/css">
		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
		<script language="javascript"
			src="javascript/winopen/winopenm.js">
		</script>
		<script type="text/javascript"
			src="javascript/calendar-ch.js">
		</script>
		<script type="text/javascript"
			src="javascript/jquery-1.7.2.js">
		</script>
		<script type="text/javascript"
			src="javascript/jquery.messager.js">
		</script>
		<script src="javascript/time.js"></script>
		<script type="text/javascript"
			src="javascript/human_check.js">
		</script>
		<script type="text/javascript"
			src="javascript/human_input_check.js">
		</script>
		<script src="javascript/jquery-1.7.2.js"></script>
		<script>
			$(function () {
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let zhicheng = $("#zhicheng");
						let human_pro_designation = $("#human_pro_designation").val();
						for (let i=0;i<date.length;i++){
							//职务的ajax,==2是等于职务的分类号
							if (date[i].attribute_kind==2){
								if(date[i].attribute_name==human_pro_designation){
									zhicheng.append("<option selected value='"+date[i].attribute_name+"'>"+date[i].attribute_name+"</option>");
								} else {
									zhicheng.append("<option value='"+date[i].attribute_name+"'>"+date[i].attribute_name+"</option>");
								}

							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let guoji = $("#guoji");
						let human_nationality = $("#human_nationality").val();
						for (let i=0;i<date.length;i++){
							//国家的ajax,==3是等于国家的分类号
							if (date[i].attribute_kind==3){
								if(date[i].attribute_name==human_nationality) {
									guoji.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									guoji.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let minzu = $("#minzu");
						let human_nationality = $("#human_nationality").val();
						for (let i=0;i<date.length;i++){
							//民族的ajax,==15是等于民族的分类号
							if (date[i].attribute_kind==15){
								if(date[i].attribute_name==human_nationality) {
									minzu.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									minzu.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let jiaopai = $("#jiaopai");
						let human_religion = $("#human_religion").val();
						for (let i=0;i<date.length;i++){
							//教派的ajax,==4是等于教派的分类号
							if (date[i].attribute_kind==4){
								if(date[i].attribute_name==human_religion) {
									jiaopai.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									jiaopai.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let zhengzhi = $("#zhengzhi");
						let human_party = $("#human_party").val();
						for (let i=0;i<date.length;i++){
							//政治面貌的ajax,==5是等于政治面貌的分类号
							if (date[i].attribute_kind==5){
								if(date[i].attribute_name==human_party) {
									zhengzhi.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									zhengzhi.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let xueli = $("#xueli");
						let human_educated_degree = $("#human_educated_degree").val();
						for (let i=0;i<date.length;i++){
							//学历的ajax,==7是等于学历的分类号
							if (date[i].attribute_kind==7){
								if(date[i].attribute_name==human_educated_degree) {
									xueli.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									xueli.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let jiaoyu = $("#jiaoyu");
						let human_educated_years = $("#human_educated_years").val();
						for (let i=0;i<date.length;i++){
							//接受教育年数的ajax,==6是等于教育年数的分类号
							if (date[i].attribute_kind==6){
								if(date[i].attribute_name==human_educated_years) {
									jiaoyu.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									jiaoyu.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let zhuanye = $("#zhuanye");
						let human_educated_major = $("#human_educated_major").val();
						for (let i=0;i<date.length;i++){
							//学历专业的ajax,==8是等于学历专业的分类号
							if (date[i].attribute_kind==8){
								if(date[i].attribute_name==human_educated_major) {
									zhuanye.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									zhuanye.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let xinchou = $("#xinchou");
						let salary_standard_name = $("#salary_standard_name").val();
						for (let i=0;i<date.length;i++){
							//薪酬的ajax,==1是等于薪酬的分类号
							if (date[i].attribute_kind==1){
								if(date[i].attribute_name==salary_standard_name) {
									xinchou.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									xinchou.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let techang = $("#techang");
						let human_speciality = $("#human_speciality").val();
						for (let i=0;i<date.length;i++){
							//特长的ajax,==1是等于特长的分类号
							if (date[i].attribute_kind==11){
								if(date[i].attribute_name==human_speciality) {
									techang.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									techang.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
				$.ajax({
					url:'querypublicchar',
					success:function (date) {
						let aihao = $("#aihao");
						let human_hobby = $("#human_hobby").val();
						for (let i=0;i<date.length;i++){
							//爱好的ajax,==10是等于爱好的分类号
							if (date[i].attribute_kind==10){
								if(date[i].attribute_name==human_hobby) {
									aihao.append("<option selected value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}else {
									aihao.append("<option value='" + date[i].attribute_name + "'>" + date[i].attribute_name + "</option>")
								}
							}
						}
					}
				});
			});
		</script>
	</head>
	<body>
		<form action="dateIhmanZengbg" method="post" enctype="multipart/form-data">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案变更 </font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="submit" value="确认变更" class="BUTTON_STYLE1"/>
						<input type="reset" value="清除" class="BUTTON_STYLE1">
						<input type="button" value="返回" class="BUTTON_STYLE1"
							   onclick="history.back()">
					</td>
				</tr>
			</table>
		<input type="hidden" id="human_id" name="human_id" th:value="${fileslist02.human_id}"/>
		<table width="100%" border="1" cellpadding=3 cellspacing=1
			   bordercolorlight=#848284 bordercolordark=#eeeeee
			   class="TABLE_STYLE1">
			<tr>
				<td class="TD_STYLE1" width="10%">
					档案编号
				</td>

				<td colspan="6" class="TD_STYLE2" th:text="${fileslist02.human_id}">
					bt23232098345
				</td>
				<td rowspan="6" width="13%" style="text-align: center;">
					<img th:src="'images/userimg/'+${fileslist02.human_picture}"  style="width:120px;height:150px;"/>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1" width="10%">
					I级机构
				</td>
				<td width="13%" class="TD_STYLE2" th:text="${fileslist02.first_kind_name}">
					集团
				</td>
				<td width="10%" class="TD_STYLE1">
					II级机构
				</td>
				<td width="13%" class="TD_STYLE2" th:text="${fileslist02.second_kind_name}">
					湖南分校
				</td>
				<td width="10%" class="TD_STYLE1">
					III级机构
				</td>
				<td class="TD_STYLE2" colspan="2" width="2%" th:text="${fileslist02.third_kind_name}">

				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					职位分类
				</td>
				<td class="TD_STYLE2" th:text="${fileslist02.human_major_kind_name}">
					软件开发
				</td>

				<td class="TD_STYLE1">
					职位名称
				</td>
				<td class="TD_STYLE2" th:text="${fileslist02.hunma_major_name}">
					区域经理
				</td>
				<td class="TD_STYLE1">
					职称
				</td>
				<td colspan="2" class="TD_STYLE2">
					<!--<input type="hidden" name="human_pro_designation" th:value="${fileslist02.human_pro_designation}">-->
					<select class="SELECT_STYLE1" id="zhicheng" name="human_pro_designation">
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">经理</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					姓名
				</td>
				<td class="TD_STYLE2">
					<input type="text" id="humanName" th:field="${fileslist02.human_name}" name="human_name"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					性别
				</td>
				<td class="TD_STYLE2">
					<select class="SELECT_STYLE1" name="human_sex">
						<option th:checked="${fileslist02.human_sex=='男'}">男</option>
						<option th:checked="${fileslist02.human_sex=='女'}">女</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					EMAIL
				</td>
				<td colspan="2" class="TD_STYLE2">
					<input type="text" name="human_email"  th:field="${fileslist02.human_email}"
						   class="INPUT_STYLE2" id="humanEmail">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					电话
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_telephone" th:field="${fileslist02.human_telephone}"
						   class="INPUT_STYLE2" id="humanTelephone">
				</td>
				<td class="TD_STYLE1">
					QQ
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_qq" th:field="${fileslist02.human_qq}"
						   class="INPUT_STYLE2" id="humanQq">
				</td>
				<td class="TD_STYLE1">
					手机
				</td>
				<td colspan="2" class="TD_STYLE2">
					<input type="text" name="human_mobilephone" id="humanMobilephone"
						   th:field="${fileslist02.human_mobilephone}" class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					住址
				</td>
				<td colspan="3" class="TD_STYLE2">
					<input type="text" name="human_address" th:field="${fileslist02.human_address}"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					邮编
				</td>
				<td colspan="2" class="TD_STYLE2">
					<input type="text" name="human_postcode" th:field="${fileslist02.human_postcode}"
						   class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					国籍
				</td>
				<td class="TD_STYLE2">
					<select name="human_nationality" class="SELECT_STYLE1" id="guoji">
						<!--							<input type="hidden" name="human_nationality" th:value="${fileslist02.human_nationality}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">中国</option>
						<option th:remove="all">美国</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					出生地
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_birthplace" th:field="${fileslist02.human_birthplace}"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					生日
				</td>
				<td width="13%" class="TD_STYLE2">
					<input type="text" name="human_birthday" readonly="readonly"
						   th:value="${fileslist02.human_birthday}" class="INPUT_STYLE2" id="birthday">
				</td>

				<td width="10%" class="TD_STYLE1">
					民族
				</td>
				<td class="TD_STYLE2">
					<select name="human_race" class="SELECT_STYLE1" id="minzu">
						<!--							<input type="hidden" name="human_race" th:value="${fileslist02.human_race}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">汉族</option>
						<option th:remove="all">回族</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					宗教信仰
				</td>
				<td class="TD_STYLE2">
					<select name="human_religion" class="SELECT_STYLE1" id="jiaopai">
						<!--							<input type="hidden" name="human_religion" th:value="${fileslist02.human_religion}">-->
						<option th:remove="all">佛教</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					政治面貌
				</td>
				<td class="TD_STYLE2">
					<select name="human_party" class="SELECT_STYLE1" id="zhengzhi">
						<!--							<input type="hidden" name="human_party" th:value="${fileslist02.human_party}">-->
						<option value="0" th:remove="all">其他</option>
						<option th:remove="all">群众</option>
						<option th:remove="all">党员</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					身份证号码
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_id_card" id="humanIdCard"
						   th:field="${fileslist02.human_id_card}" class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					社会保障号码
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_society_security_id" th:field="${fileslist02.human_society_security_id}"
						   class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					年龄
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_age" th:field="${fileslist02.human_age}"
						   class="INPUT_STYLE2" id="humanAge">
				</td>
				<td class="TD_STYLE1">
					学历
				</td>
				<td class="TD_STYLE2">
					<select name="human_educated_degree" class="SELECT_STYLE1" id="xueli">
						<!--							<input type="hidden" name="human_educated_degree" th:value="${fileslist02.human_educated_degree}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">高中</option>
						<option th:remove="all">本科</option>
						<option th:remove="all">大专</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					教育年限
				</td>
				<td class="TD_STYLE2">
					<select name="human_educated_years" class="SELECT_STYLE1" id="jiaoyu">
						<!--							<input type="hidden" name="human_educated_years" th:value="${fileslist02.human_educated_years}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">12</option>
						<option th:remove="all">16</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					学历专业
				</td>
				<td class="TD_STYLE2">
					<select name="human_educated_major" class="SELECT_STYLE1" id="zhuanye">
						<!--							<input type="hidden" name="human_educated_major" th:value="${fileslist02.human_educated_major}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">生物工程</option>
						<option th:remove="all">计算机</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					薪酬标准
				</td>
				<td class="TD_STYLE2">
					<select name="salary_standard_name" class="SELECT_STYLE1" id="xinchou">
						<!--							<input type="hidden" name="salary_standard_name" th:value="${fileslist02.salary_standard_name}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">薪酬标准1</option>
						<option th:remove="all">薪酬标准2</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					开户行
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_bank" th:field="${fileslist02.human_bank}"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					帐号
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="human_account"
						   th:field="${fileslist02.human_account}" class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					变更人
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="checker" th:field="${fileslist02.changer}"
						   readonly="readonly" class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					变更时间
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="check_time"
						   id="create_time" readonly="readonly"
						   class="INPUT_STYLE2" th:field="${fileslist02.change_time}">
				</td>
				<td class="TD_STYLE1">
					特长
				</td>
				<td class="TD_STYLE2">
					<select name="human_speciality" class="SELECT_STYLE1" id="techang">
						<!--							<input type="hidden" name="human_speciality" th:value="${fileslist02.human_speciality}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">java</option>
						<option th:remove="all">数据库</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					爱好
				</td>
				<td class="TD_STYLE2">
					<select name="human_hobby" class="SELECT_STYLE1" id="aihao">
						<!--							<input type="hidden" name="human_hobby" th:value="${fileslist02.human_hobby}">-->
						<option value="0" th:remove="all">请选择</option>
						<option th:remove="all">篮球</option>
						<option th:remove="all">跳舞</option>
					</select>
				</td>
				<td class="TD_STYLE1">
					&nbsp;
				</td>
				<td class="TD_STYLE2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					档案附件
				</td>
				<td colspan="7" class="TD_STYLE2">
					<a href="javascript:winopenm('query.jsp?filename=')">a.doc</a>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					个人履历
				</td>
				<td colspan="7" class="TD_STYLE2">
						<textarea name="human_histroy_records" rows="4"
								  class="TEXTAREA_STYLE1" th:field="${fileslist02.human_histroy_records}">上岛咖啡</textarea>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					家庭关系信息
				</td>
				<td colspan="7" class="TD_STYLE2">
						<textarea name="human_family_membership" rows="4"
								  class="TEXTAREA_STYLE1" th:field="${fileslist02.human_family_membership}">你猜</textarea>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					备注
				</td>
				<td colspan="7" class="TD_STYLE2">
					<textarea name="remark" rows="4" class="TEXTAREA_STYLE1" th:field="${fileslist02.remark}"></textarea>
				</td>
			</tr>
		</table>
	</form>
	</body>
</html>
