BODY {
SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #e8e8e8; SCROLLBAR-SHADOW-COLOR: #d7d7d7; SCROLLBAR-3DLIGHT-COLOR: #1f161b; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-TRACK-COLOR: #626262; SCROLLBAR-DARKSHADOW-COLOR: #1f161b
}
BODY {
BACKGROUND-COLOR: #f7f7f7; BACKGROUND-POSITION: left top; BACKGROUND-REPEAT: repeat-x; COLOR: #000000; FONT-SIZE: 12px
}
UL LI {
LIST-STYLE: url(_images/botton2.gif); POSITION: relative; TOP: -12px
}
A:unknown LINK {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:visited {

	TEXT-DECORATION: none
; font-size: 12px
}
A:hover {
	TEXT-DECORATION: none
; font-size: 12px
}
.list_link {
	COLOR: #8d1c1c; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.matrix {
	FONT-SIZE: 12px
; text-decoration: none
}
.matrix A {
	COLOR: #93393a
}
.matrix_sub {
	BACKGROUND-COLOR: #f7f7f7; BACKGROUND-IMAGE: url(_images/botton2.gif); BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: 0px; COLOR: #000000; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 1px
}
.matrix_header {
	BACKGROUND-COLOR: #AFD9FF; BACKGROUND-IMAGE: url(_images/botton2.gif); BORDER-BOTTOM: #838383 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; COLOR: #00469e; PADDING-BOTTOM: 6px; PADDING-LEFT: 5px; PADDING-TOP: 6px
}
.matrix_info {
	BACKGROUND-COLOR: #f7f7f7; BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.matrix_info_header {
	BACKGROUND-COLOR: #ebeaea; BORDER-BOTTOM: #eae9e9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.matrix_content {
	BACKGROUND-COLOR: #AFD9FF; COLOR: #353535
}
.matrix_left {
	BORDER-LEFT: #c9c9c9 1px solid
}
.home_box {
	BORDER-LEFT: #d8d8d8 1px solid
}
.mtDropdownMenu {
	LEFT: -1000px; OVERFLOW: hidden; POSITION: absolute; TOP: -1000px
}
.mtDropdownMenu .content {
	POSITION: absolute
}
.mtDropdownMenu .items {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; LEFT: 0px; POSITION: relative; TOP: 0px; Z-INDEX: 2
}
.top .items {
	BORDER-TOP: medium none
}
.mtDropdownMenu .item {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; COLOR: #4a4b4b; CURSOR: hand; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.mtDropdownMenu .background {
	FILTER: alpha(opacity=85); LEFT: 0px; POSITION: absolute; TOP: 0px; Z-INDEX: 1; moz-opacity: .8
}
.mtDropdownMenu .shadowRight {
	FILTER: alpha(opacity=40); POSITION: absolute; TOP: 3px; WIDTH: 2px; Z-INDEX: 3; moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	FILTER: alpha(opacity=40); HEIGHT: 2px; LEFT: 3px; POSITION: absolute; Z-INDEX: 1; moz-opacity: .4
}
.mtDropdownMenu .hover {
	BACKGROUND: #AFD9FF; COLOR: #8d1c1c
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 12px
}
.subtext {
	COLOR: #4a4a4a; FONT-SIZE: 12px; LINE-HEIGHT: 12px
}
.subtext_title {
	COLOR: #264771; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 22px
}
.BodContent {
	COLOR: #4a4a4a; FONT-SIZE: 12px; LINE-HEIGHT: 16px; PADDING-LEFT: 6px
}
.BodContent TD {
	COLOR: #4a4a4a; FONT-SIZE: 12px; LINE-HEIGHT: 16px
}
.BodContent A {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.content_highlight {
	COLOR: #808080; FONT-SIZE: 12px; LINE-HEIGHT: 17px; MARGIN-TOP: 12px
}
.headernav {
	COLOR: #d4d3d3; FONT-SIZE: 12px
}
.headernav A {
	COLOR: #d4d3d3; FONT-SIZE: 12px
}
.headernav A:hover {
	COLOR: #d4d3d3; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.list A {
	COLOR: #264771
}
.subadtitle {
	COLOR: #953637; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 18px
}
.subad {
	COLOR: #000000; FONT-SIZE: 12px; LINE-HEIGHT: 12px; PADDING-LEFT: 4px
}
.hottopic A {
	COLOR: #555555; FONT-SIZE: 12px; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.hottopic A:hover {
	COLOR: #555555; FONT-SIZE: 12px; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.maintableborder {
	
}
.maintablebg {
	
}
.reg {
	BACKGROUND-IMAGE: url(_images/botton2.gif); BACKGROUND-REPEAT: no-repeat
}
.navbox {
	BACKGROUND-COLOR: #AFD9FF; WIDTH: 204px; layer-background-color: #AFD9FF
}
.navsub {
	BACKGROUND-COLOR: #AFD9FF; FONT-SIZE: 11px; layer-background-color: #AFD9FF
}
.navsub A {
	BACKGROUND-COLOR: #AFD9FF; COLOR: #666666; PADDING-BOTTOM: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.navsub A:hover {
	BACKGROUND-COLOR: #AFD9FF; COLOR: #8d1c1c; TEXT-DECORATION: none
}
.nav {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #666666; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 4px; layer-background-color: #F1F1F1
}
.nav A {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #666666; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav A:hover {
	BACKGROUND-COLOR: #f1f1f1; COLOR: #8d1c1c
}
.footer {
FONT-SIZE: 12px; LINE-HEIGHT: 17px
}
.footer A {
	COLOR: #264771; FONT-SIZE: 12px; LINE-HEIGHT: 17px
}
.footer A:hover {
	COLOR: #264771; FONT-SIZE: 12px; LINE-HEIGHT: 17px
}
#menubar {
	BACKGROUND-COLOR: #f9f1c8; BORDER-BOTTOM: #ad5800 1px solid; BORDER-LEFT: #ad5800 1px solid; BORDER-RIGHT: #ad5800 1px solid; BORDER-TOP: #ad5800 1px solid; LEFT: 35px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; POSITION: absolute; TOP: 245px; WIDTH: 450px
}
#menubar A {
	BORDER-BOTTOM: #f9f1c8 1px solid; BORDER-LEFT: #f9f1c8 1px solid; BORDER-RIGHT: #f9f1c8 1px solid; BORDER-TOP: #f9f1c8 1px solid; COLOR: #993300; LETTER-SPACING: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; TEXT-DECORATION: none
; font-size: 24px
}
#menubar A.active {
	BORDER-BOTTOM-COLOR: #ccc599; BORDER-LEFT-COLOR: #AFD9FF; BORDER-RIGHT-COLOR: #ccc599; BORDER-TOP-COLOR: #AFD9FF
}
.menu .options {
	BACKGROUND-COLOR: #AFD9FF; BORDER-BOTTOM: #969696 1px solid; BORDER-LEFT: #969696 1px solid; BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FILTER: Alpha(Opacity=88, Style=0); LEFT: 1016px; MARGIN-BOTTOM: 1px; MARGIN-RIGHT: 1px; POSITION: relative; TOP: 541px; layer-background-color: #AFD9FF
}
.menu A {
	COLOR: #000000; DISPLAY: block; PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.menu A:hover {
	BACKGROUND-COLOR: #bccef2; COLOR: #AFD9FF
}
#about {
	LEFT: 5px; POSITION: absolute; TOP: 200px
}
.subtitle {
	COLOR: #444444; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 25px
}
.domain_box {
	BACKGROUND-COLOR: #AFD9FF; BORDER-BOTTOM: #a6a6a6 1px solid; BORDER-LEFT: #a6a6a6 1px solid; BORDER-RIGHT: #a6a6a6 1px solid; BORDER-TOP: #a6a6a6 1px solid; COLOR: #777777; FONT-SIZE: 11px; HEIGHT: 19px; WIDTH: 175px
}
.login {
	BACKGROUND-COLOR: #e9e9e9; BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid
}
.login INPUT {
	COLOR: #666666; FONT-SIZE: 11px; HEIGHT: 22px
}
.login checkbox {
	COLOR: #666666
; text-decoration: none
}
.login TD {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-TOP: #AFD9FF 1px solid; COLOR: #555555; FONT-SIZE: 11px
}
.login .title {
	BACKGROUND-COLOR: #d0d0d0
}
.login .title TD {
	BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #AFD9FF; FONT-WEIGHT: bold
}
HR {
	COLOR: #dddddd; HEIGHT: 1px
}
.subtitle-color {
	COLOR: #8d1c1c; FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 25px
}
.subsubtitle-lighter {
	COLOR: #999999
}
.subsubtitle-color {
	COLOR: #8d1c1c
}
.notebox {
	COLOR: #777777; FONT-SIZE: 11px; WIDTH: 100%
}
.contactboxform SELECT {
	COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 22px; WIDTH: 215px
}
.contactboxform INPUT {
	COLOR: #666666; FONT-SIZE: 11px; HEIGHT: 22px; WIDTH: 215px
}
.contactboxform TEXTAREA {
	COLOR: #666666; FONT-SIZE: 11px; HEIGHT: 125px; WIDTH: 215px
; text-decoration: none
}
.top {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:active {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:hover {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.navorderback {
	COLOR: #cccccc; FONT-SIZE: 9px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.navorderback A:hover {
	COLOR: #8d1c1c; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.navorderback A:link {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
; font-size: 12px
}
visited {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
active {
	COLOR: #cccccc; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.app {
	BACKGROUND-COLOR: #e9e9e9; BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid; WIDTH: 100%
}
.app A {
	COLOR: #4a4b4b; TEXT-DECORATION: none
}
.app A:hover {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
LINK {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
visited {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.app TD {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-TOP: #AFD9FF 1px solid; COLOR: #555555; FONT-SIZE: 11px
}
.app .title {
	BACKGROUND-COLOR: #d0d0d0
}
.app .title TD {
	BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #AFD9FF; FONT-WEIGHT: bold
}
.app_highlighted {
	BACKGROUND-COLOR: #f4f4f4
}
.btn {
	BACKGROUND-IMAGE: url(_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 9px; FONT-WEIGHT: normal; MARGIN: 0px 0px 0px 1px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; WIDTH: 50px; 
}
.btn_med {
	BACKGROUND-IMAGE: url(_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 9px; FONT-WEIGHT: normal; MARGIN: 0px 0px 0px 1px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; WIDTH: 106px; 
}
.btn_wide {
	BACKGROUND-IMAGE: url(_images/button2.gif); BORDER-BOTTOM: 1px outset; BORDER-LEFT: 1px outset; BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-SIZE: 9px; FONT-WEIGHT: normal; MARGIN: 0px 0px 0px 1px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; WIDTH: 150px; 
}
.app_large {
	COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.app_desc {
	COLOR: #656565
}
.error {
	BACKGROUND-COLOR: #ffdede; BORDER-BOTTOM: #ff0000 2px solid; BORDER-LEFT: #ff0000 2px solid; BORDER-RIGHT: #ff0000 2px solid; BORDER-TOP: #ff0000 2px solid; WIDTH: 95%
}
.error TD {
	COLOR: #ff0000; FONT-SIZE: 12px
}
.error .title {
	BACKGROUND-COLOR: #ff9393
}
.error .title TD {
	COLOR: #AFD9FF; FONT-SIZE: 12px; FONT-WEIGHT: bold
}s
.info {
	BACKGROUND-COLOR: #dedeff; BORDER-BOTTOM: #0000ff 2px solid; BORDER-LEFT: #0000ff 2px solid; BORDER-RIGHT: #0000ff 2px solid; BORDER-TOP: #0000ff 2px solid; WIDTH: 95%
}
.info TD {
	COLOR: #0000ff; FONT-SIZE: 12px
}
.info .title {
	BACKGROUND-COLOR: #9393ff
}
.info .title TD {
	COLOR: #AFD9FF; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ordernav {
	BACKGROUND-COLOR: #AFD9FF; FONT-SIZE: 11px; layer-background-color: #AFD9FF
}
.ordernav A {
	BACKGROUND-COLOR: #AFD9FF; COLOR: #666666; TEXT-DECORATION: none
}
.ordernav A:hover {
	BACKGROUND-COLOR: #AFD9FF; COLOR: #8d1c1c; TEXT-DECORATION: none
}
.ordernav .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ordernav .current {
	FONT-WEIGHT: bold
}
.select {
	BORDER-LEFT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid
}
.primary-highlight-color {
	COLOR: #8d1c1c
}
.type-small-light {
	COLOR: #888888; FONT-SIZE: 11px
}
.table1 {
	 FONT-SIZE: 11px
}
.table1 TD {
FONT-SIZE: 11px
; text-decoration: none
}
.table1 TR {
FONT-SIZE: 11px
; text-decoration: none
}
.type-light {
	COLOR: #888888
}
.color {  color: #D7FD62; font-size: 12px; text-decoration: none}
.snail1 {  font-size: 12px; color: #666666; text-decoration: none}
.line {  font-size: 12px; line-height: 25px; text-decoration: none}
.unnamed1 {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.unnamed2 {  font-size: 12px; line-height: 25px; text-decoration: none}
.unnamed3 {  font-size: 12px; color: #333333; text-decoration: none}
