<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>编辑角色</title>
	<link rel="stylesheet"
		  href="css/table.css" type="text/css"/>
	<script type="text/javascript" src="javascript/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="javascript/right_list_information.js"></script>
	<style type="text/css">
		.parent {
			margin-left: 50px;
		}
		.children {
			margin-left: 20%;
		}
	</style>
</head>
<body>
<form name="powerAction!doModifyRight" action="controledit" method="post">
	<table width="100%">
		<tr>
			<td>
				<font color="black">您正在做的业务是：人力资源--权限管理--编辑角色</font>
			</td>
		</tr>
		<tr>
			<td align="right">
				<input type="submit" id="powerAction!doModifyRight_0" value="&#20445;&#23384;" class="BUTTON_STYLE1"/>

				<input type="button" value="返回" class="BUTTON_STYLE1"
					   onclick="history.back()">
			</td>
		</tr>
	</table>
	<table width="100%" border="1" cellpadding=3 cellspacing=1
		   bordercolorlight=#848284 bordercolordark=#eeeeee
		   class="TABLE_STYLE1">
		<tr>
			<td class="TD_STYLE1">角色编号</td>
			<td class="TD_STYLE2" th:text="${randc.rc.r_id}">2</td>
			<td class="TD_STYLE1">角色名称</td>
			<td class="TD_STYLE2">
				<input type="text" th:field="${randc.r_name}" class="INPUT_STYLE2" value="人事经理"
					   name="sysRole.roleName"/>
				<input type="hidden" name="r_id" th:value="${randc.rc.r_id}"/>
			</td>
		</tr>
		<tr>
			<td class="TD_STYLE1">角色说明</td>
			<td class="TD_STYLE2">
				<input type="text" class="INPUT_STYLE2" th:field="${randc.r_explain}" value=""
					   name="sysRole.roleDesc"/>
			</td>
			<td class="TD_STYLE1">角色是否可用</td>
			<td class="TD_STYLE2">
				<select name="r_type" id="powerAction!doModifyRight_sysRole_roleFlag">
					<option value="0" th:selected="${randc.r_type == 0}">否</option>
					<option value="1" th:selected="${randc.r_type == 1}">是</option>


				</select>

			</td>
		</tr>
	</table>
	<hr/>

<table class="grandfather">
	<input type="hidden" name="rc_id" th:value="${randc.rc.rc_id}"/>
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.A == 1}" name="A" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L01" />
			<!--&#25307;&#32856;&#31649;&#29702;-->
			招聘管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.A_1 == 1}" name="A_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0101" />
						<!--&#32844;&#20301;&#21457;&#24067;&#31649;&#29702;-->
						职位发布管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_1_a == 1}" name="A_1_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010101" />
									<!--&#32844;&#20301;&#21457;&#24067;&#30331;&#35760;-->
									职位发布登记
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_1_b == 1}" name="A_1_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010102" />
									<!--&#32844;&#20301;&#21457;&#24067;&#21464;&#26356;-->
									职位发布变更
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_1_c == 1}" name="A_1_c" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010103" />
									<!--&#32844;&#20301;&#21457;&#24067;&#26597;&#35810;-->
									职位发布查询
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.A_2 == 1}" name="A_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0102" />
						<!--&#31616;&#21382;&#31649;&#29702;-->
						简历管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_2_a == 1}" name="A_2_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010201" />
									<!--&#31616;&#21382;&#30331;&#35760;-->
									简历登记
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_2_b == 1}" name="A_2_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010202" />
									<!--&#31616;&#21382;&#31579;&#36873;-->
									简历筛选
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_2_c == 1}" name="A_2_c" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010203" />
									<!--&#26377;&#25928;&#31616;&#21382;&#26597;&#35810;-->
									有效简历查询
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.A_3 == 1}" name="A_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0103" />
						<!--&#38754;&#35797;&#31649;&#29702;-->
						面试管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_3_a == 1}" name="A_3_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010301" />
									<!--&#38754;&#35797;&#32467;&#26524;&#30331;&#35760;-->
									面试结果登记
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_3_b == 1}" name="A_3_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010302" />
									<!--&#38754;&#35797;&#31579;&#36873;-->
									面试筛选
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr th:remove="all">
					<td>
						<input type="checkbox" name="rightCodes" value="L0104" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0104" />
						<!--&#25307;&#32856;&#32771;&#35797;&#39064;&#24211;&#31649;&#29702;-->
						招聘考试题库管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" name="rightCodes" value="L010401" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010401" />
									<!--&#35797;&#39064;&#30331;&#35760;-->
									试题登记
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L010402" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010402" />
									<!--&#35797;&#39064;&#26597;&#35810;-->
									试题查询
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L010403" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010403" />
									<!--&#35797;&#39064;&#21464;&#26356;-->
									试题变更
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr th:remove="all">
					<td>
						<input type="checkbox" name="rightCodes" value="L0105" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0105" />
						<!--&#25307;&#32856;&#32771;&#35797;&#31649;&#29702;-->
						招聘考试管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" name="rightCodes" value="L010501" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010501" />
									<!--&#32771;&#35797;&#20986;&#39064;-->
									考试出题
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L010502" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010502" />
									<!--&#32771;&#35797;&#31572;&#39064;-->
									考试答题
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L010503" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010503" />
									<!--&#32771;&#35797;&#38405;&#21367;-->
									考试阅卷
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L010504" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010504" />
									<!--&#25104;&#32489;&#26597;&#35810;&#31579;&#36873;-->
									成绩查询筛选
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.A_6 == 1}"  name="A_6" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0106" />
						<!--&#24405;&#29992;&#31649;&#29702;-->
						录用管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_6_a == 1}" name="A_6_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010601" />
									<!--&#24405;&#29992;&#30003;&#35831;-->
									录用申请
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_6_b == 1}" name="A_6_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010602" />
									<!--&#24405;&#29992;&#23457;&#25209;-->
									录用审批
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.A_6_c == 1}" name="A_6_c" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L010603" />
									<!--&#24405;&#29992;&#26597;&#35810;-->
									录用查询
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.B == 1}" name="B" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L02" />
			<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#31649;&#29702;-->
			人力资源档案管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.B_1 == 1}" name="B_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0201" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#30331;&#35760;-->
						人力资源档案登记
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.B_2 == 1}" name="B_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0202" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#30331;&#35760;&#22797;&#26680;-->
						人力资源档案登记复核
						<table class="children">
							<tr>


							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.B_3 == 1}" name="B_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0203" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#26597;&#35810;-->
						人力资源档案查询
						<table class="children">
							<tr>

							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.B_4 == 1}" name="B_4" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0204" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#21464;&#26356;-->
						人力资源档案变更
						<table class="children">
							<tr>

							</tr>
						</table>
					</td>
				</tr>



				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.B_5 == 1}" name="B_5" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0205" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#21024;&#38500;&#31649;&#29702;-->
						人力资源档案删除管理
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.B_5_a == 1}" name="B_5_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L020501" />
									<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#21024;&#38500;-->
									人力资源档案删除
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.B_5_b == 1}" name="B_5_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L020502" />
									<!--&#26723;&#26696;&#21024;&#38500;&#24674;&#22797;-->
									档案删除恢复
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.B_5_c == 1}" name="B_5_c" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L020503" />
									<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#27704;&#20037;&#21024;&#38500;-->
									人力资源档案永久删除
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.C == 1}" name="C" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L03" />
			<!--&#34218;&#37228;&#26631;&#20934;&#31649;&#29702;-->
			薪酬标准管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.C_1 == 1}" name="C_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0301" />
						<!--&#34218;&#37228;&#26631;&#20934;&#30331;&#35760;-->
						薪酬标准登记
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.C_2 == 1}" name="C_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0302" />
						<!--&#34218;&#37228;&#26631;&#20934;&#30331;&#35760;&#22797;&#26680;-->
						薪酬标准登记复核
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.C_3 == 1}" name="C_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0303" />
						<!--&#34218;&#37228;&#26631;&#20934;&#26597;&#35810;-->
						薪酬标准查询
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.C_4 == 1}" name="C_4" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0304" />
						<!--&#34218;&#37228;&#26631;&#20934;&#21464;&#26356;-->
						薪酬标准变更
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.D == 1}" name="D" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L04" />
			<!--&#34218;&#37228;&#21457;&#25918;&#31649;&#29702;-->
			薪酬发放管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_1 == 1}" name="D_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input th:remove="all" type="hidden" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0401" />
						<!--&#34218;&#37228;&#21457;&#25918;&#30331;&#35760;-->
						薪酬发放登记
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_2 == 1}" name="D_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0402" />
						<!--&#34218;&#37228;&#21457;&#25918;&#30331;&#35760;&#22797;&#26680;-->
						薪酬发放登记复核
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_3 == 1}" name="D_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0403" />
						<!--&#34218;&#37228;&#21457;&#25918;&#26597;&#35810;-->
						薪酬发放查询
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.E == 1}" name="E" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L05" />
			<!--&#35843;&#21160;&#31649;&#29702;-->
			调动管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.E_1 == 1}" name="E_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0501" />
						<!--&#35843;&#21160;&#30331;&#35760;-->
						调动登记
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.E_2 == 1}" name="E_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0502" />
						<!--&#35843;&#21160;&#23457;&#26680;-->
						调动审核
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.E_3 == 1}" name="E_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0503" />
						<!--&#35843;&#21160;&#26597;&#35810;-->
						调动查询
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.F == 1}" name="F" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L06" />
			<!--&#23458;&#25143;&#21270;&#35774;&#32622;-->
			客户化设置
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.F_1 == 1}" name="F_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0601" />
						<!--&#20154;&#21147;&#36164;&#28304;&#26723;&#26696;&#31649;&#29702;&#35774;&#32622;-->
						人力资源档案管理设置
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_a == 1}" name="F_1_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060101" />
									<!--&#8544;&#32423;&#26426;&#26500;&#35774;&#32622;-->
									Ⅰ级机构设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_b == 1}" name="F_1_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060102" />
									<!--&#8545;&#32423;&#26426;&#26500;&#35774;&#32622;-->
									Ⅱ级机构设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_c == 1}" name="F_1_c" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060103" />
									<!--&#8546;&#32423;&#26426;&#26500;&#35774;&#32622;-->
									Ⅲ级机构设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_d == 1}" name="F_1_d" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060104" />
									<!--&#32844;&#31216;&#35774;&#32622;-->
									职称设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_e == 1}" name="F_1_e" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060105" />
									<!--&#32844;&#20301;&#20998;&#31867;&#35774;&#32622;-->
									职位分类设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_f == 1}" name="F_1_f" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060106" />
									<!--&#32844;&#20301;&#35774;&#32622;-->
									职位设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_1_g == 1}" name="F_1_g" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060107" />
									<!--&#20844;&#20849;&#23646;&#24615;&#35774;&#32622;-->
									公共属性设置
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.F_2 == 1}" name="F_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0602" />
						<!--&#34218;&#37228;&#31649;&#29702;&#35774;&#32622;-->
						薪酬管理设置
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_2_a == 1}" name="F_2_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060201" />
									<!--&#34218;&#37228;&#39033;&#30446;&#35774;&#32622;-->
									薪酬项目设置
								</td>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_2_b == 1}" name="F_2_b" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060202" />
									<!--&#34218;&#37228;&#21457;&#25918;&#26041;&#24335;&#35774;&#32622;-->
									薪酬发放方式设置
								</td>
								<td th:remove="all">
									<input type="checkbox" name="rightCodes" value="L060203" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060203" />
									<!--&#35746;&#21333;&#38144;&#21806;&#32489;&#25928;&#35745;&#31639;&#26041;&#24335;-->
									订单销售绩效计算方式
								</td>
								<td th:remove="all">
									<input type="checkbox" name="rightCodes" value="L060204" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060204" />
									<!--&#38646;&#21806;&#32489;&#25928;&#35745;&#31639;&#26041;&#24335;-->
									零售绩效计算方式
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td th:remove="all">
						<input type="checkbox" name="rightCodes" value="L0603" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0603" />
						<!--&#39064;&#24211;&#31649;&#29702;&#35774;&#32622;-->
						题库管理设置
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" name="rightCodes" value="L060301" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060301" />
									<!--&#35797;&#39064;&#8544;&#32423;&#20998;&#31867;&#35774;&#32622;-->
									试题Ⅰ级分类设置
								</td>
								<td>
									<input type="checkbox" name="rightCodes" value="L060302" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060302" />
									<!--&#35797;&#39064;&#8545;&#32423;&#20998;&#31867;&#35774;&#32622;-->
									试题Ⅱ级分类设置
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.F_4 == 1}" name="F_4" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0604" />
						<!--&#20854;&#20182;&#35774;&#32622;-->
						其他设置
						<table class="children">
							<tr>
								<td>
									<input type="checkbox" th:checked="${randc.rc.F_4_a == 1}" name="F_4_a" value="1" id="powerAction!doModifyRight_rightCodes" class="children_ck"/>
									<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L060401" />
									<!--&#20851;&#38190;&#23383;&#26597;&#35810;&#35774;&#32622;-->
									关键字查询设置
								</td>


							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.D == 1}" name="D" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L07" />
			<!--&#26631;&#20934;&#25968;&#25454;&#25253;&#34920;-->
			标准数据报表
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_1 == 1}" name="D_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0701" />
						<!--Excel&#26631;&#20934;&#25968;&#25454;&#25253;&#34920;-->
						Excel标准数据报表
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_2 == 1}" name="D_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0702" />
						<!--Pdf&#26631;&#20934;&#25968;&#25454;&#25253;&#34920;-->
						Pdf标准数据报表
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.D_3 == 1}" name="D_3" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0703" />
						<!--Xml&#26631;&#20934;&#25968;&#25454;&#25253;&#34920;-->
						Xml标准数据报表
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

<table class="grandfather">
	<tr>
		<td>
			<input type="checkbox" th:checked="${randc.rc.H == 1}" name="H" value="1" id="powerAction!doModifyRight_rightCodes" class="grandfather_ck"/>
			<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L08" />
			<!--&#26435;&#38480;&#31649;&#29702;-->
			权限管理
			<table class="parent">
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.H_1 == 1}" name="H_1" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0801" />
						<!--&#29992;&#25143;&#31649;&#29702;-->
						用户管理
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" th:checked="${randc.rc.H_2 == 1}" name="H_2" value="1" id="powerAction!doModifyRight_rightCodes" class="parent_ck"/>
						<input type="hidden" th:remove="all" id="__checkbox_powerAction!doModifyRight_rightCodes" name="__checkbox_rightCodes" value="L0802" />
						<!--&#35282;&#33394;&#31649;&#29702;-->
						角色管理
						<table class="children">
							<tr>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr/>

</form>

</body>

<script type="text/javascript">
	function byDefault(){
		var arr=new Array();


		arr[0]='L02';

		arr[1]='L0201';

		arr[2]='L0202';

		arr[3]='L0203';

		arr[4]='L0204';

		arr[5]='L0205';

		arr[6]='L020501';

		arr[7]='L020502';

		arr[8]='L020503';

		var rightCodes=document.getElementsByName("rightCodes");
		for(var j=0;j<arr.length;j++){
			for(var k=0;k<rightCodes.length;k++){

				if(rightCodes[k].value==arr[j]){
					rightCodes[k].checked=true;
				}
			}
		}

	}

	window.onload=byDefault;
</script>



</html>
