<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>用户管理</title>
		<link rel="stylesheet"
			href="../../css/table.css" type="text/css"/>
		<script type="text/javascript">
			function doDelete(id) {
				if (confirm("确定删除此用户吗？")) {
					location.href = "success.html?users.userId=" + id;
				}
			}
		</script>
	</head>
	<body>
		<table width="100%">
			<tr>
				<td>
					<font color="black">您正在做的业务是：人力资源--权限管理--用户管理 </font>
				</td>
			</tr>
			<tr>
				<td>
					当前角色总数：6例
				</td>
			</tr>
			<tr>
				<td align="right">
					<input type="button" value="添加用户" class="BUTTON_STYLE1" onclick="location.href='user_add.html'">
				</td>
			</tr>
		</table>
		<table width="100%" border="1" cellpadding=5 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
			<tr class="TR_STYLE1">
				<td class="TD_STYLE1">
					用户编号
				</td>
				<td class="TD_STYLE1">
					用户名称
				</td>
				<td class="TD_STYLE1">
					真实姓名
				</td>
				<td class="TD_STYLE1">
					用户密码
				</td>
				<td class="TD_STYLE1">
					用户身份
				</td>
				<td class="TD_STYLE1">
					操作
				</td>
			</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						9
					</td>
					<td class="TD_STYLE2">
						better_admin
					</td>
					<td class="TD_STYLE2">
						zhangsan
					</td>
					<td class="TD_STYLE2">
						123123
					</td>
					<td class="TD_STYLE2">
						系统管理员
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(9)"/>
					</td>
				</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						1026
					</td>
					<td class="TD_STYLE2">
						xiaojianjian
					</td>
					<td class="TD_STYLE2">
						姜凯
					</td>
					<td class="TD_STYLE2">
						123456
					</td>
					<td class="TD_STYLE2">
						人事专员
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(1026)"/>
					</td>
				</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						1015
					</td>
					<td class="TD_STYLE2">
						xiepeng
					</td>
					<td class="TD_STYLE2">
						谢鹏
					</td>
					<td class="TD_STYLE2">
						123456
					</td>
					<td class="TD_STYLE2">
						人事经理
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(1015)"/>
					</td>
				</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						1178
					</td>
					<td class="TD_STYLE2">
						yangyang
					</td>
					<td class="TD_STYLE2">
						杨阳
					</td>
					<td class="TD_STYLE2">
						123123
					</td>
					<td class="TD_STYLE2">
						人事专员
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(1178)"/>
					</td>
				</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						10
					</td>
					<td class="TD_STYLE2">
						manager
					</td>
					<td class="TD_STYLE2">
						杨阳
					</td>
					<td class="TD_STYLE2">
						123123
					</td>
					<td class="TD_STYLE2">
						系统管理员
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(10)"/>
					</td>
				</tr>
			
				<tr class="TR_STYLE2">
					<td class="TD_STYLE2">
						1177
					</td>
					<td class="TD_STYLE2">
						xiaojianjian
					</td>
					<td class="TD_STYLE2">
						姜凯
					</td>
					<td class="TD_STYLE2">
						123123
					</td>
					<td class="TD_STYLE2">
						人事专员
					</td>
					<td class="TD_STYLE2">
						<img src="../../images/bt_edit.gif" title="编辑" style="cursor:pointer;" onclick="location.href='user_edit.html'"/>
						<img src="../../images/bt_del.gif" title="删除" style="cursor:pointer;" onclick="doDelete(1177)"/>
					</td>
				</tr>
			
		</table>
		<p style="text-align:center;">
			
				<a href="user_list.html" style="color:black;">首页</a>
				
				
					 
						 
						    <font color="red">1</font> 
						 
						 
					 
				
				 
	     		<a href="user_list.html" style="color:black;">尾页</a> 
	     	
		</p>
	</body>
</html>
