<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>

	<script type="text/javascript" src="javascript/jquery-1.7.2.js"></script>
	</head>
	<script src="javascript/jquery-1.7.2.js"></script>
	<SCRIPT type="text/javascript">
		function time(){
			var tdate=document.getElementById("Tdate");
			var d=new Date();
			var y=d.getFullYear();
			var moth=d.getMonth()+1;
			var date=d.getDate();
			var h=d.getHours();
			var m=d.getMinutes();
			var s=d.getSeconds();
			var hh=20-1-h;
			var mm=60-1-m;
			var ss=60-s;
			if(hh>0){
				mm=mm+60*hh;
			}
			if(moth<10){
				moth="0"+moth;
			}
			if(date<10){
				date="0"+date;
			}
			if(h<10){
				h="0"+h;
			}
			if(m<10){
				m="0"+m;
			}
			if(s<10){
				s="0"+s;
			}
			if(mm<10){
				mm="0"+mm;
			}
			if(ss<10){
				ss="0"+ss;
			}

			tdate.value=y+"-"+moth+"-"+date+"- "+h+":"+m+":"+s;


		}
		window.onload=time;
		var out=window.setInterval(time, 1000);
	</SCRIPT>
	<SCRIPT type="text/javascript">
	</SCRIPT>
	<SCRIPT type="text/javascript">
		function check(){
			var rs=document.getElementsByName("check_status");
			if(rs[0].checked==false&&rs[1].checked==false){
				alert("请选择通过或者不通过！");
			}else{
				function mySubmit(){
					document.forms[0].submit();

				}
				document.forms[0].submit();
			}
		}
	</SCRIPT>
	<body>
	<form action="updateTransferMajor_change" id="formcheck" method="post">
		<table width="100%">
			<tr>
				<td>
					<font color="black">您正在做的业务是:人力资源--调动管理--调动审核</font>
				</td>
			</tr>
			<tr>
				<td align="right">
					<input type="radio" name="check_status" value="1">通过
					<input type="radio" name="check_status" value="0">不通过
					<input type="button" value="确认" class="BUTTON_STYLE1" onclick="check()">
					<input type="button" class="BUTTON_STYLE1" onclick="javascript:window.history.back();" value="返回">
				</td>
			</tr>
		</table>
		<table width="100%" border="1" cellpadding=0 cellspacing=1
			   bordercolorlight=#848284 bordercolordark=#eeeeee
			   class="TABLE_STYLE1">
			<tr height="21">
				<td class="TD_STYLE1" width="8%" >
					档案编号
				</td>
				<td class="TD_STYLE2" width="10%">
					<input type="text" th:value="${MC.human_id}"
						   name="human_id" readonly="readonly" class="INPUT_STYLE2">


				</td>
				<td class="TD_STYLE1" width="8%">
					姓名
				</td>
				<td class="TD_STYLE2" width="10%">
					<input type="text" th:value="${MC.human_name}"
						   name="human_name" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden"  th:value="${MC.mch_id}" name="mch_id" value="123">
				</td>
				<td class="TD_STYLE1" width="8%">
				</td>
				<td class="TD_STYLE2" width="10%">
				</td>
				<td class="TD_STYLE1" width="8%">
				</td>
				<td class="TD_STYLE2" width="10%">
				</td>
			</tr>
			<tr>

				<td class="TD_STYLE1" width="8%">
					原一级机构
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.first_kind_name}" name="first_kind_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.first_kind_id}"name="first_kind_id" value="1353318953319">
				</td>
				<td class="TD_STYLE1" width="8%">
					原二级机构
				</td>
				<td class="TD_STYLE2" width="10%">
					<input type="text" th:value="${MC.second_kind_name}" name="second_kind_name"
						   value="Ⅱ级结构3" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden"  th:value="${MC.second_kind_id}" name="second_kind_id" value="1353318979558">
				</td>
				<td class="TD_STYLE1" width="8%">
					原三级机构
				</td>
				<td class="TD_STYLE2" width="10%">
					<input type="text" th:value="${MC.third_kind_name}" name="third_kind_name"
						   value="" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden"  th:value="${MC.third_kind_id}" name="third_kind_id" value="1353319077370">
				</td>
				<td class="TD_STYLE1" width="8%">
				</td>
				<td class="TD_STYLE2" width="10%">
				</td>
			</tr>

			<tr>
				<td class="TD_STYLE1">
					原职位分类
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.major_kind_name}" name="human_major_kind_name"
						   value="软件开发" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" name="human_major_kind_id" th:value="${MC.major_kind_id}" value="02">
				</td>
				<td class="TD_STYLE1" width="12%">
					原职位名称
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.major_name}" name="hunma_major_name"
						   value="程序员" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.major_id}" name="human_major_id" value="02">
				</td>
				<td class="TD_STYLE1">
					原薪酬标准
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.salary_standard_name}" name="salary_standard_name"
						   value="经理级别"
						   readonly="readonly"   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.salary_standard_id}" name="salary_standard_id" value="1353320082662">
				</td>
				<td class="TD_STYLE1">
					原薪酬总额
				</td>
				<td class="TD_STYLE2">
					<input  type="text" th:value="${MC.salary_sum}" name="salary_sum"
							value="" readonly="readonly"
							class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					新一级机构名称
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_first_kind_name}" name="new_first_kind_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden"  th:value="${MC.new_first_kind_id}"name="new_first_kind_id" id="firstKindId">
				</td>
				<td class="TD_STYLE1" width="12%">
					新二级机构名称
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_second_kind_name}" name="new_second_kind_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.new_second_kind_id}"  name="new_third_kind_id" id="newSecondKindName">
				</td>
				<td class="TD_STYLE1" width="12%">
					新三级机构名称
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_third_kind_name}" name="new_third_kind_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.new_third_kind_id}" name="new_third_kind_id" id="newThirdKindName">
				</td>
				<td class="TD_STYLE1" width="8%">
				</td>
				<td class="TD_STYLE2" width="10%">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					新职位分类
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_major_kind_name}" name="new_major_kind_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden"th:value="${MC.new_major_kind_id}" name="new_major_kind_id" id="newMajorKindName">

				</td>
				<td class="TD_STYLE1" width="12%">
					新职位名称
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_major_name}" name="new_major_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.new_major_id}"name="new_major_id" id="newMajorName">
				</td>
				<td class="TD_STYLE1">
					新薪酬标准
				</td>
				<td class="TD_STYLE2">
					<input type="text" th:value="${MC.new_salary_standard_name}" name="new_salary_standard_name"
						   value="Ⅰ级结构" readonly="readonly"
						   class="INPUT_STYLE2">
					<input type="hidden" th:value="${MC.new_salary_standard_id}"name="new_salary_standard_name" id="new_salary_standard_name">

				</td>
				<td class="TD_STYLE1">
					新薪酬总额
				</td>
				<td class="TD_STYLE2">
					<input type="text"  th:value="${MC.new_salary_sum}" name="new_salary_sum" id="new_salary_sum" readonly="readonly"
						   value="0.00" class="INPUT_STYLE2">
				</td>
			</tr>

			<tr>
				<td class="TD_STYLE1">
					登记人
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="register" readonly="readonly" value="better_admin"
						   th:value="${MC.register}"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					登记时间
				</td>
				<td class="TD_STYLE2">
					<input type="text"  th:value="${MC.regist_time}"name="regist_time" readonly="readonly"
						   class="INPUT_STYLE2">

				</td>
				<td class="TD_STYLE1">
					复核人
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="checker" readonly="readonly" value="better_admin"
						   th:value="${session.userLoginSucceed.user_true_name}"
						   class="INPUT_STYLE2">
				</td>
				<td class="TD_STYLE1">
					复核时间
				</td>
				<td class="TD_STYLE2">
					<input type="text" name="check_time" readonly="readonly"
						   id="Tdate" class="INPUT_STYLE2">
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					调动原因
				</td>
				<td colspan="7" class="TD_STYLE2">
					<textarea  th:text="${MC.change_reason}" name="change_reason" rows="6" class="TEXTAREA_STYLE1"></textarea>
				</td>
			</tr>
			<tr>
				<td class="TD_STYLE1">
					复合通过意见
				</td>
				<td colspan="7" class="TD_STYLE2">
					<textarea name="check_reason"  id="check_reason" rows="6" class="TEXTAREA_STYLE1"></textarea>
				</td>
			</tr>
		</table>
	</form>
	</body>
</html>






