<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>
		 
	</head>

	<body>
		<form name="humanfileForm" method="post" action="">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是:人力资源--调动管理--调动审核</font>
					</td>
				</tr>
				 <tr>
     
    <td width="49%"> 复核成功！</td>
    <td width="51%" align="right">
			<input type="button" 
			class="BUTTON_STYLE1" 
			onclick="javascript:window.location='topage?page=transfer/check_list';"
			value="返回" />
		</td>
		
		
    </tr>
			</table>
		</form>
	</body>

</html>

