<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>
			<STYLE type="text/css">
			</STYLE>
	</head>
	<body onload="">
		<form action="topage?page=transfer/register" method="post" >
			<table width="100%">
				<tr>
					<td>
						<font color="black">您在做的业务是-人力资源-调动管理-调动登记列表 </font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="button" class="BUTTON_STYLE1" onclick="javascript:window.history.back();" value="返回">
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">

				<tr height="21">
					<td width="19%" class="TD_STYLE1">
						I级机构
					</td>
					<td width="19%" class="TD_STYLE1">
						II级机构
					</td>
					<td width="19%" class="TD_STYLE1">
						Ⅲ级机构
					</td>
					<td width="19%" class="TD_STYLE1">
						薪酬标准
					</td>
					<td width="19%" class="TD_STYLE1">
						名字
					</td>
					<td width="5%" class="TD_STYLE1">
						调动
					</td>
				</tr>
				<tr height="21" th:each="l:${list_HF}">

						<td class="TD_STYLE2" th:text="${l.first_kind_name}">
							<input  type="hidden" th:value="${l.hfd_id}">
						集团
						</td>
						<td class="TD_STYLE2" th:text="${l.second_kind_name}">
						软件公司
						</td>
						<td class="TD_STYLE2" th:text="${l.third_kind_name}">
						外包公司
						</td>
						<td class="TD_STYLE2" th:text="${l.salary_standard_name}">
						经理级别
						</td>
						<td class="TD_STYLE2" th:text="${l.human_name}">
						罗勇
						</td>
						<td class="TD_STYLE2" >
<!--							<a th:href="'queryByHfd_idtransferHuman_file?hfd_id='+${l.hfd_id}">调动</a>-->
							<a th:href="@{queryByHfd_idtransferHuman_file(hfd_id=${l.hfd_id})}">调动</a>
						</td>

					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						总部
						</td>
						<td class="TD_STYLE2">
						湖南分校区
						</td>
						<td class="TD_STYLE2">
						长沙分校区1
						</td>
						<td class="TD_STYLE2">
						经理级别
						</td>
						<td class="TD_STYLE2">
						詹瑛
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						Ⅰ级结构
						</td>
						<td class="TD_STYLE2">
						Ⅱ级结构5
						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">
						经理级别
						</td>
						<td class="TD_STYLE2">
						洪春生
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						集团
						</td>
						<td class="TD_STYLE2">
						软件公司
						</td>
						<td class="TD_STYLE2">
						外包公司
						</td>
						<td class="TD_STYLE2">
						经理级别
						</td>
						<td class="TD_STYLE2">
						张人俊萧
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						总部
						</td>
						<td class="TD_STYLE2">
						湖南分校区
						</td>
						<td class="TD_STYLE2">
						长沙分校区1
						</td>
						<td class="TD_STYLE2">
						经理级别
						</td>
						<td class="TD_STYLE2">
						张人俊萧
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						Ⅰ级结构
						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">
						普通员工
						</td>
						<td class="TD_STYLE2">
						刘恺威
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						集团
						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">
						普通员工
						</td>
						<td class="TD_STYLE2">
						刘恺威
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						Ⅰ级结构
						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">

						</td>
						<td class="TD_STYLE2">
						董事长
						</td>
						<td class="TD_STYLE2">
						杨幂
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>

				<tr height="21" th:remove="all">
						<td class="TD_STYLE2">
						Ⅰ级结构
						</td>
						<td class="TD_STYLE2">
						请选择
						</td>
						<td class="TD_STYLE2">
						请选择
						</td>
						<td class="TD_STYLE2">
						经理级别
						</td>
						<td class="TD_STYLE2">
						周小坚
						</td>
						<td class="TD_STYLE2">
							<a href="register.html">
							调动</a>
						</td>
					</tr>
			</table>
<html>
  <head>  
  </head>  
  <body>
   <p>
   <div align="center" style="font-size: 18px;color: gray">
				&nbsp;&nbsp;总数：
				<font style="color: maroon;font-weight: bold;">14</font>
				例 
				&nbsp;&nbsp;&nbsp;
				每页显示 <font style="color: maroon;font-weight: bold;">10</font> 
				条
				&nbsp;&nbsp;&nbsp; 
				当前第 <font style="color: maroon;font-weight: bold;">1</font>
				 页 
				&nbsp;&nbsp;&nbsp;共 
				<font style="color: maroon;font-weight: bold;">2</font>
				 页
				<a style="color: navy;font-weight: bold" href="javascript:doPage(1)">首页</a>
				
				<a style="color: navy;font-weight: bold"
				 href="javascript:doPage(0)">上一页</a>
				 
				<a style="color: navy;font-weight: bold" 
				href="javascript:doPage(2)">下一页</a>
				
				<a style="color: navy;font-weight: bold"
				 href="javascript:doPage(2)">末页</a>
				&nbsp;&nbsp;&nbsp;跳到第
				<input id=page type=text  value="1" class=input1 size=1>
				页&nbsp;&nbsp;
				<input type="image" onclick="dopagebybutton()" src="../../images/go.bmp" width=18 height=18 border=0>
				<input type="hidden" name="page.startPage" id="startpage" value="1">
			</div>
			<script type="text/javascript">
function dopagebybutton() {
	var reg = /^[0-9]*[1-9][0-9]*$/;
	if (reg.test(document.getElementById("page").value)) {
		document.getElementById("startpage").value= document.getElementById("page").value;
	} else {
		alert("您的输入有误");
		document.getElementById("page").value = document.getElementById("startpage").value;
	}
	document.forms[0].submit();
	
}
function doPage(startsize) {
	document.getElementById("startpage").value =startsize;
	document.forms[0].submit();
	 
}
</script>
   
   
  </body>
</html>

			
		</form>
	</body>
</html>