
<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>hr_middle</title>
		<style type="text/css">
			body {
				background-color:white;
				background-image: url(images/11041R35400-19.jpg);
				background-repeat:no-repeat;
				background-position:130% 0;
				margin-left: 20px;
				margin-top: 20px;
			}
		</style>
		<script type="text/javascript"
			src="javascript/jquery-1.7.2.js">
		</script>
		<script type="text/javascript"
			src="javascript/jquery.messager.js">
		</script>
		<script type="text/javascript">
			$(function() {
				$.messager.show("<font style='font-family:宋体;'>消息提示","欢迎你：人事经理谢鹏！</font>",2000);
			});
		</script>
	</head>
	<body>
	</body>
</html>
