<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="javascript/jquery-1.7.2.js"></script>
<style>
    .imgfile{
        width: 80;
        height: auto;
        position: relative;
    }
    .imgfile img{
        width: 50px;
        height: 50px;
    }
    .imgfile input{
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
</style>
<body>
    <table>
        <tr>
            <td>编号</td>
            <td>姓名</td>
        </tr>
        <tr th:each="x:${mytestslist}">
            <td th:text="${x.id}">1</td>
            <td th:text="${x.name}">章鱼剩</td>
        </tr>
    </table>
    <div class="imgfile">
        <img  src="images/userimg/5.png"/>
        <input  type="file"/>
    </div>
</body>
</html>