<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.dao.IHuman_fileDao">
    <resultMap id="queryreviewer" type="com.ck.entity.Human_file">
        <result property="hfd_id" column="hfd_id"></result>
        <result property="human_id" column="human_id"></result>
        <result property="human_name" column="human_name"></result>
        <result property="human_sex" column="human_sex"></result>
        <result property="first_kind_name" column="first_kind_name"></result>
        <result property="second_kind_name" column="second_kind_name"></result>
        <result property="third_kind_name" column="third_kind_name"></result>
        <result property="human_pro_designation" column="human_pro_designation"></result>
    </resultMap>
    <resultMap id="queryByidreviewer02" type="com.ck.entity.Human_file">
        <result property="hfd_id" column="hfd_id"></result>
        <result property="human_id" column="human_id"></result>
        <result property="first_kind_id" column="first_kind_id"></result>
        <result property="first_kind_name" column="first_kind_name"></result>
        <result property="second_kind_id" column="second_kind_id"></result>
        <result property="second_kind_name" column="second_kind_name"></result>
        <result property="third_kind_id" column="third_kind_id"></result>
        <result property="third_kind_name" column="third_kind_name"></result>
        <result property="human_name" column="human_name"></result>
        <result property="human_address" column="human_address"></result>
        <result property="human_postcode" column="human_postcode"></result>
        <result property="human_pro_designation" column="human_pro_designation"></result>
        <result property="human_major_kind_id" column="human_major_kind_id"></result>
        <result property="human_major_kind_name" column="human_major_kind_name"></result>
        <result property="human_major_id" column="human_major_id"></result>
        <result property="hunma_major_name" column="hunma_major_name"></result>
        <result property="human_telephone" column="human_telephone"></result>
        <result property="human_mobilephone" column="human_mobilephone"></result>
        <result property="human_bank" column="human_bank"></result>
        <result property="human_account" column="human_account"></result>
        <result property="human_qq" column="human_qq"></result>
        <result property="human_email" column="human_email"></result>
        <result property="human_hobby" column="human_hobby"></result>
        <result property="human_speciality" column="human_speciality"></result>
        <result property="human_sex" column="human_sex"></result>
        <result property="human_religion" column="human_religion"></result>
        <result property="human_party" column="human_party"></result>
        <result property="human_nationality" column="human_nationality"></result>
        <result property="human_race" column="human_race"></result>
        <result property="human_birthday" column="human_birthday"></result>
        <result property="human_birthplace" column="human_birthplace"></result>
        <result property="human_age" column="human_age"></result>
        <result property="human_educated_degree" column="human_educated_degree"></result>
        <result property="human_educated_years" column="human_educated_years"></result>
        <result property="human_educated_major" column="human_educated_major"></result>
        <result property="human_society_security_id" column="human_society_security_id"></result>
        <result property="human_id_card" column="human_id_card"></result>
        <result property="remark" column="remark"></result>
        <result property="salary_standard_id" column="salary_standard_id"></result>
        <result property="salary_standard_name" column="salary_standard_name"></result>
        <result property="salary_sum" column="salary_sum"></result>
        <result property="demand_salaray_sum" column="demand_salaray_sum"></result>
        <result property="paid_salary_sum" column="paid_salary_sum"></result>
        <result property="major_change_amount" column="major_change_amount"></result>
        <result property="bonus_amount" column="bonus_amount"></result>
        <result property="training_amount" column="training_amount"></result>
        <result property="file_chang_amount" column="file_chang_amount"></result>
        <result property="human_histroy_records" column="human_histroy_records"></result>
        <result property="human_family_membership" column="human_family_membership"></result>
        <result property="human_family_membership" column="human_family_membership"></result>
        <result property="attachment_name" column="attachment_name"></result>
        <result property="check_status" column="check_status"></result>
        <result property="register" column="register"></result>
        <result property="checker" column="checker"></result>
        <result property="changer" column="changer"></result>
        <result property="regist_time" column="regist_time"></result>
        <result property="check_time" column="check_time"></result>
        <result property="change_time" column="change_time"></result>
        <result property="lastly_change_time" column="lastly_change_time"></result>
        <result property="delete_time" column="delete_time"></result>
        <result property="recovery_time" column="recovery_time"></result>
        <result property="human_file_status" column="human_file_status"></result>
    </resultMap>
    <select id="queryhumanlist" parameterType="java.util.Map" resultType="java.util.Map">
        select * from HumanFile
        <where>
            <if test="first_kind_id !=''">
                AND first_kind_id = #{first_kind_id}
            </if>
            <if test="second_kind_id !=''">
                AND second_kind_id = #{second_kind_id}
            </if>
            <if test="third_kind_id !=''">
                AND third_kind_id = #{third_kind_id}
            </if>
            <if test="human_major_kind_id !=''">
                AND human_major_kind_id = #{human_major_kind_id}
            </if>
            <if test="hunma_major_id !=''">
                AND human_major_id = #{hunma_major_id}
            </if>
            <if test="startDate !=''">
                AND regist_time >= #{startDate}
            </if>
            <if test="endDate !=''">
                <![CDATA[ AND regist_time <= #{endDate}]]>
            </if>
            and human_file_status = 1
        </where>
    </select>
    <select id="queryhumanlist01" parameterType="java.util.Map" resultType="java.util.Map">
        select * from HumanFile
        <where>
            <if test="first_kind_id !=''">
                AND first_kind_id = #{first_kind_id}
            </if>
            <if test="second_kind_id !=''">
                AND second_kind_id = #{second_kind_id}
            </if>
            <if test="third_kind_id !=''">
                AND third_kind_id = #{third_kind_id}
            </if>
            <if test="human_major_kind_id !=''">
                AND human_major_kind_id = #{human_major_kind_id}
            </if>
            <if test="hunma_major_id !=''">
                AND human_major_id = #{hunma_major_id}
            </if>
            <if test="startDate !=''">
                AND regist_time >= #{startDate}
            </if>
                and human_file_status = 2
            <if test="endDate !=''">
                <![CDATA[ AND regist_time <= #{endDate}]]>
            </if>
        </where>
    </select>
    <select id="queryhumanlist03" parameterType="java.util.Map" resultType="java.util.Map">
        select * from HumanFile
        <where>
            <if test="first_kind_id !=''">
                AND first_kind_id = #{first_kind_id}
            </if>
            <if test="second_kind_id !=''">
                AND second_kind_id = #{second_kind_id}
            </if>
            <if test="third_kind_id !=''">
                AND third_kind_id = #{third_kind_id}
            </if>
            <if test="human_major_kind_id !=''">
                AND human_major_kind_id = #{human_major_kind_id}
            </if>
            <if test="hunma_major_id !=''">
                AND human_major_id = #{hunma_major_id}
            </if>
            <if test="startDate !=''">
                AND regist_time >= #{startDate}
            </if>
            <if test="endDate !=''">
                <![CDATA[ AND regist_time <= #{endDate}]]>
            </if>
            and human_file_status = 3
        </where>
    </select>
</mapper>
