<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.dao.IHuman_fileDao">
    <resultMap id="reviewerquery" type="com.ck.entity.Human_file">
        <result property="hfd_id" column="hfd_id"></result>
        <result property="human_id" column="human_id"></result>
        <result property="human_name" column="human_name"></result>
        <result property="human_sex" column="human_sex"></result>
        <result property="first_kind_name" column="first_kind_name"></result>
        <result property="second_kind_name" column="second_kind_name"></result>
        <result property="third_kind_name" column="third_kind_name"></result>
        <result property="human_pro_designation" column="human_pro_designation"></result>
    </resultMap>
</mapper>
