<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置-->
    <settings>
        <!--设置mybatis在执行过程中输出日志，
        日志中包括了执行了哪些sql及其sql的执行过程-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--设置开启mybatis对延迟加载功能的支持，默认为false-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置积极加载为false,即为懒加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存，默认就是开启的，即默认值为true-->
        <!--<setting name="cacheEnabled" value="true"/>-->
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

    <mappers>
        <mapper resource="mappers/MytestMapper.xml"/>
    </mappers>
</configuration>
