<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet"
			href="css/table.css" type="text/css">
		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
		<script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
		<script type="text/javascript">
			function deleteMajor(id)
			{
				$.ajax({
					url:"/HR_Fist/customiz/customizAction!doDeleteMajorKind",
					data:"cmk.mfkId="+id,
					dataType:"text",
					success:function (){
						alert("删除成功！");
						location.reload();
					},
					type:"post"
				});
				
			}
		</script>
		
	</head>

	<body>
		<form method="post" action="../customiz/customizAction!findMajorKind">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--职位分类设置
						</font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="button" value="添加" class="BUTTON_STYLE1"
							onclick="window.location.href='major_kind_add.html';">
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				<tr>
					<td width="46%" class="TD_STYLE1">
						职位分类编号
					</td>
					<td width="47%" class="TD_STYLE1">
						职位分类名称
					</td>
					<td width="5%" class="TD_STYLE1">
						删除
					</td>
				</tr>

				
				<tr>
					<td class="TD_STYLE2">
						01
					</td>
					<td class="TD_STYLE2">
						销售
					</td>
					<td class="TD_STYLE2">
						<a href="#">删除</a>
					</td>
				</tr>
				
				<tr>
					<td class="TD_STYLE2">
						02
					</td>
					<td class="TD_STYLE2">
						软件开发
					</td>
					<td class="TD_STYLE2">
						<a href="#">删除</a>
					</td>
				</tr>
				
				<tr>
					<td class="TD_STYLE2">
						03
					</td>
					<td class="TD_STYLE2">
						人力资源
					</td>
					<td class="TD_STYLE2">
						<a href="#">删除</a>
					</td>
				</tr>
				
				<tr>
					<td class="TD_STYLE2">
						04
					</td>
					<td class="TD_STYLE2">
						生产部
					</td>
					<td class="TD_STYLE2">
						<a href="#">删除</a>
					</td>
				</tr>
				

			</table>
			<p>
				 
		</form>
	</body>
</html>
