<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>
		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
		
		<script type="text/javascript" src="javascript/jquery-1.7.2.js"></script>
		
		<script type="text/javascript">
			function deleteThirdKind(id){
				$.ajax({
				
					url:"/HR_Fist/customiz/customizAction!doDeleteThirdKind",
					data:"cftk.ftkId="+id,
					dataType:"text",
					success:function (){
						alert("删除成功！");
						location.reload();
					},
					type:"post"
				});
			}
		</script>
	</head>

<script type="text/javascript">
	
		function submission(){
			document.forms[0].submit();
		}
		
		function page(currentPage){
			document.getElementById("pid").value=currentPage;
			document.forms[0].submit();
		}
		
</script>

	<body>
		<form action="../customiz/customizAction!findThirdKind" method="post">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置
						</font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="button" value="添加" class="BUTTON_STYLE1"
							onclick="window.location.href='topage?page=client/third_kind_register'" />
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				<tr>
					<td width="14%" class="TD_STYLE1">
						I级机构名称
					</td>
					<td width="14%" class="TD_STYLE1">
						II级机构名称
					</td>
					<td width="14%" class="TD_STYLE1">
						II级机构编号
					</td>
					<td width="14%" class="TD_STYLE1">
						III级机构名称
					</td>
					<td width="17%" class="TD_STYLE1">
						销售责任人编号
					</td>
					<td width="17%" class="TD_STYLE1">
						是否为零售店
					</td>
					<td width="5%" class="TD_STYLE1">
						变更
					</td>
					<td width="5%" class="TD_STYLE1">
						删除
					</td>
				</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">集团
						</td>
						<td class="TD_STYLE2">软件公司
						</td>
						<td class="TD_STYLE2">1353319004705
						</td>
						<td class="TD_STYLE2">外包公司
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">集团
						</td>
						<td class="TD_STYLE2">软件公司
						</td>
						<td class="TD_STYLE2">1353319004705
						</td>
						<td class="TD_STYLE2">软件股份有限公司
						</td>
						<td class="TD_STYLE2">1212
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">北京分校区
						</td>
						<td class="TD_STYLE2">1353319033409
						</td>
						<td class="TD_STYLE2">中关村分校区1
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">北京分校区
						</td>
						<td class="TD_STYLE2">1353319033409
						</td>
						<td class="TD_STYLE2">中关村分校区2
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">北京分校区
						</td>
						<td class="TD_STYLE2">1353319033409
						</td>
						<td class="TD_STYLE2">中关村分校区3
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">湖南分校区
						</td>
						<td class="TD_STYLE2">1353319038682
						</td>
						<td class="TD_STYLE2">长沙分校区1
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">湖南分校区
						</td>
						<td class="TD_STYLE2">1353319038682
						</td>
						<td class="TD_STYLE2">长沙分校区2
						</td>
						<td class="TD_STYLE2">dfsaf
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">总部
						</td>
						<td class="TD_STYLE2">湖南分校区
						</td>
						<td class="TD_STYLE2">1353319038682
						</td>
						<td class="TD_STYLE2">长沙分校区3
						</td>
						<td class="TD_STYLE2">
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">Ⅰ级结构
						</td>
						<td class="TD_STYLE2">Ⅱ级结构1
						</td>
						<td class="TD_STYLE2">1353318979558
						</td>
						<td class="TD_STYLE2">Ⅲ级结构111
						</td>
						<td class="TD_STYLE2">12
						</td>
						<td class="TD_STYLE2">是
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>
					
					<tr th:remove="all">
						<td class="TD_STYLE2">Ⅰ级结构
						</td>
						<td class="TD_STYLE2">Ⅱ级结构1
						</td>
						<td class="TD_STYLE2">1353318979558
						</td>
						<td class="TD_STYLE2">Ⅲ级结构222
						</td>
						<td class="TD_STYLE2">12
						</td>
						<td class="TD_STYLE2">否
						</td>
						<td class="TD_STYLE2">
							<a href="third_kind_change.html">变更</a>
						</td>
						<td class="TD_STYLE2">
							<a href="third_delete_success.html">删除</a>
						</td>
					</tr>

				<tr th:each="l:${Config_file_third_kindQueryAll}">
					<td class="TD_STYLE2" th:text="${l.first_kind_name}">Ⅰ级结构
					</td>
					<td class="TD_STYLE2" th:text="${l.second_kind_name}">Ⅱ级结构1
					</td>
					<td class="TD_STYLE2" th:text="${l.second_kind_id}">1353318979558
					</td>
					<td class="TD_STYLE2" th:text="${l.third_kind_name}">Ⅲ级结构222
					</td>
					<td class="TD_STYLE2" th:text="${l.third_kind_sale_id}">12
					</td>
					<td class="TD_STYLE2" th:if="${l.third_kind_is_retail==1}">是
					</td>
					<td class="TD_STYLE2" th:if="${l.third_kind_is_retail==2}">否
					</td>
					<td class="TD_STYLE2">
						<a th:href="'queryByidthird_kindService1?id='+${l.ftk_id}">变更</a>
					</td>
					<td class="TD_STYLE2">
						<a th:href="'deleteByIdthird_kindService1?id='+${l.ftk_id}">删除</a>
					</td>
				</tr>
					
			</table>
			<br>
			<br>
			<th colspan="7" class="pager">
			 	</th>
			<p>
		</form>
	</body>
</html>

