<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>
		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
	</head>
	
<script type="text/javascript">
	
	//控件判断不能为空
	function check(){
		if (document.getElementById("thirdKind.thirdKindSaleId").value==""){
			alert("销售责任人编号不能为空!!!");
			return false;
		}
		if(document.getElementById("thirdKind.thirdKindIsRetail").value!="是" && document.getElementById("thirdKind.thirdKindIsRetail").value!="否"){
			alert("零售店 只能填（是/否）!!!");
			return false;
		}
		document.forms[0].submit();
	}		
</script>
	
	
	
	<body>
		<form action="updatethird_kindService1" method="post">
			<table width="100%">
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置--III级机构变更
						</font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="submit" value="提交" class="BUTTON_STYLE1">
						<input type="button" value="返回" class="BUTTON_STYLE1"
							onclick="history.back();">
					</td>
				</tr>
			</table>

			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				
				<tr>
					<td width="19%" class="TD_STYLE1">
						I级机构名称
					</td>
<!--					隐藏单位-->
					<input type="hidden" th:value="${Config_file_third_kindQueryByid.ftk_id}" name="ftk_id">
					<input type="hidden" th:value="${Config_file_third_kindQueryByid.first_kind_id}" name="first_kind_id">
					<input type="hidden" th:value="${Config_file_third_kindQueryByid.second_kind_id}" name="second_kind_id">
					<td width="81%" class="TD_STYLE2">
						<input type="text" th:value="${Config_file_third_kindQueryByid.first_kind_name}" readonly="readonly" class="INPUT_STYLE1" name="first_kind_name" value="集团"/>
					</td>
				</tr>
				<tr>
					<td width="19%" class="TD_STYLE1">
						II级机构名称
					</td>
					<td width="81%" class="TD_STYLE2">
						<input type="text" th:value="${Config_file_third_kindQueryByid.second_kind_name}" readonly="readonly" class="INPUT_STYLE1" name="second_kind_name" value="软件公司"/>
					</td>
				</tr>
				<tr>
					<td width="19%" class="TD_STYLE1">
						III级机构编号
					</td>
					<td width="81%" class="TD_STYLE2">
						<input type="text" th:value="${Config_file_third_kindQueryByid.third_kind_id}" readonly="readonly" class="INPUT_STYLE1" name="third_kind_id" value="1353815416978"/>
					</td>
				</tr>
				<tr>
					<td class="TD_STYLE1">
						III级机构名称
					</td>
					<td class="TD_STYLE2">
						<input type="text" th:value="${Config_file_third_kindQueryByid.third_kind_name}" readonly="readonly" class="INPUT_STYLE1" name="third_kind_name" value="三级公司"/>
					</td>
				</tr>
				<tr>
					<td class="TD_STYLE1">
						销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
					</td>
					<td class="TD_STYLE2">
						<textarea rows="4" th:field="${Config_file_third_kindQueryByid.third_kind_sale_id}"  cols="120" class="TEXTAREA_STYLE1" name="third_kind_sale_id">1</textarea>
					</td>
				</tr>
				<tr>
					<td class="TD_STYLE1">
						是否为零售店（是/否）
					</td>
					<td class="TD_STYLE2">
					<select name="third_kind_is_retail">
						<option th:selected="${Config_file_third_kindQueryByid.third_kind_is_retail == 1}" value="1">是</option>
						<option th:selected="${Config_file_third_kindQueryByid.third_kind_is_retail == 2}" value="2">否</option>
					</select>
			 	</td>
				</tr>
			</table>
		</form>
	</body>
</html>

