<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="css/table.css"
			type="text/css"></link>
		<script type="text/javascript"
			src="javascript/comm/comm.js">
		</script>
	</head>

<script type="text/javascript">
	function returns(){
		document.forms[0].submit();
	}
</script>
	<body>
		<form method="post" action="">
			<table width="100%">
				<tr>
					<td colspan="2">
						<font color="black">您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置--III级机构变更
						</font>
					</td>
				</tr>
				<tr>
					<td width="49%">
						更改成功，请返回。
					</td>
					<td width="51%" align="right">
						<input type="button" value="返回" class="BUTTON_STYLE1"
							onclick="window.location.href='queryAllthird_kindService1'">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>

