<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My JSP 'position-release_details.jsp' starting page</title>
    
	  <link rel="stylesheet"
			href="../../../css/table.css" type="text/css">
		<link rel="stylesheet"
			href="../../../css/cwcalendar.css" type="text/css">
		<script type="text/javascript"
			src="../../../javascript/comm/comm.js">
		</script>
		<script type="text/javascript"
			src="../../../javascript/comm/list.js">
		</script>
		<script type="text/javascript"
			src="../../../javascript/calendar-ch.js">
		</script>
		<script type="text/javascript"
			src="../../../javascript/jquery-1.7.2.js">
		</script>
		<script type="text/javascript"
			src="../../../javascript/locate.js">
		</script>
	 <script type="text/javascript"
			src="../../../javascript/select.js">
		</script>
		
		<script type="text/javascript">
		function search(id){ 
		 // document.fm.submit();		
 		window.location.href="/HR_Fist/recruit/recruitAction!register?id="+id;
		}
		</script>
   
 		
 	</head>
	<body>
		<form id="recruitAction!toRegister" name="fm" action="/HR_Fist/recruit/recruitAction!toRegister" method="post" enctype="multipart/form-data">
			<input type="hidden" name="emajorRelease.mreId" value="531" />
			<table width="100%"> 
				<tr>
					<td>
						<font color="black">您正在做的业务是：人力资源--招聘管理--职位发布管理--职位发布查询--详细  </font>
					</td>
				</tr>
				<tr>
					<td align="right">
						<input type="button" value="确认申请" onclick="search('531')" class="BUTTON_STYLE1" />
						<input type="button" value="返回" class="BUTTON_STYLE1" onclick="history.back();">
					</td>
				</tr>
			</table>
			<table width="100%" border="1" cellpadding=0 cellspacing=1
				bordercolorlight=#848284 bordercolordark=#eeeeee
				class="TABLE_STYLE1">
				<tr>
					<td class="TD_STYLE1" width="11%">
						I级机构
					</td>
					<td width="14%" class="TD_STYLE2">
					<select name="emajorRelease.firstKindName" >
					<option value="&#38598;&#22242;">&#38598;&#22242;</option>
						</select>
					</td>
					<td width="11%" class="TD_STYLE1">
						II级机构
					</td>
					<td width="14%" class="TD_STYLE2">
					<select name="emajorRelease.secondKindName" >
					<option value="&#29983;&#29289;&#31185;&#25216;&#26377;&#38480;&#20844;&#21496;">&#29983;&#29289;&#31185;&#25216;&#26377;&#38480;&#20844;&#21496;</option>
						</select>
					</td>
					<td width="11%" class="TD_STYLE1">
						III级机构
					</td>
					<td class="TD_STYLE2"  >
						<select name="emajorRelease.thirdKindId" >
					<option value="&#33647;&#24215;">&#33647;&#24215;</option>
						</select>
					</td>
					<td width="11%" class="TD_STYLE1">
						招聘类型
					</td>
					<td class="TD_STYLE2" colspan="2">
						<select name="emajorRelease.engageType"  class="SELECT_STYLE1">
						<option value="&#31038;&#20250;&#25307;&#32856;">&#31038;&#20250;&#25307;&#32856;</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="TD_STYLE1">
						职位分类
					</td>
					<td class="TD_STYLE2">
						<select name="emajorRelease.majorKindName" >
					<option value="&#38144;&#21806;">&#38144;&#21806;</option>
						</select>
					</td>
					<td class="TD_STYLE1">
						职位名称
					</td>
					<td class="TD_STYLE2">
						<select name="emajorRelease.majorName" >
					<option value="&#24635;&#32463;&#29702;">&#24635;&#32463;&#29702;</option>
						</select>
					</td>
					<td class="TD_STYLE1">
						招聘人数
					</td>
					<td   class="TD_STYLE2">
						 <input type="text" name="emajorRelease.humanAmount" value="2 " class="INPUT_STYLE2">
				
						</td>
					<td class="TD_STYLE1">
						截止日期
					</td>
					<td   class="TD_STYLE2"> 
							  <input type="text" name="emajorRelease.deadline" readonly
							class="INPUT_STYLE2" value="2012-11-15 12:00:00">
					</td>
				</tr>
				<tr>
				<td class="TD_STYLE1">
						登记人
					</td>
					<td  class="TD_STYLE2">
						 <input type="text" name="emajorRelease.register" value="&#26446;&#22235;" class="INPUT_STYLE2">
					</td>
					<td class="TD_STYLE1">
						登记时间
					</td>
					<td   class="TD_STYLE2">
					<input type="text" name="emajorRelease.registTime"
							value="2012-08-02 12:00:00" readonly="readonly"
							class="INPUT_STYLE2">
					  
						</td>
					
					<td>&nbsp; </td>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
					
				</tr>
				<tr>
					<td class="TD_STYLE1">
						职位描述
					</td>
					<td class="TD_STYLE2" colspan="8">
						<textarea name="emajorRelease.majorDescribe" rows="4" cols="100%" class="TEXTAREA_STYLE1" readonly="readonly" >&#19982;&#26102;&#20465;&#36827;</textarea>
					</td>
					 
				</tr>
					<tr>
					<td class="TD_STYLE1">
						招聘要求
					</td>
					<td class="TD_STYLE2" colspan="8">
						<textarea name="emajorRelease.engageRequired" rows="4"  cols="100%" class="TEXTAREA_STYLE1"  readonly="readonly" >&#20570;&#20107;&#32454;&#24515;</textarea>
					</td>
					 
				</tr>
			</table>
		</form>




	</body>
 
</html>


